<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<title>Aggiungi Bene</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>

<section class="section">

{% include "menu.html" %}

<div class="container">

<br><br>

<h2 class="title is-4">Aggiungi Nuovo Bene</h2>

<form action="{{ url_for('aggiungi', query_string=query_string) }}" method="POST"  enctype="multipart/form-data" onsubmit="return controllaSubmit();">




<div class="columns">

    <div class="column is-one-quarter">
        <div class="field">
            <label class="label">Quantità</label>
            <div class="control">
                <input class="input" type="number" name="quantita"  required value="1">
            </div>
        </div>
    </div>


    <div class="column is-half">
        <div class="field">
            <label class="label">Descrizione bene</label>
            <div class="control">
                <input class="input" type="text" name="descrizione_bene" placeholder="Descrizione bene" required>
            </div>
        </div>
    </div>

<div class="column is-half">
<div class="field">
        <label class="label">Responsabile laboratorio</label>
        <div class="control">
            <div class="select">
            <select id="responsabile_select" name="responsabile_laboratorio" onchange="toggleAltro()">
                <option value="">Seleziona un responsabile</option>
                <option value="altro">Aggiungi un/a nuovo/a responsabile</option>
                {% for responsabile in responsabili %}
                <option value="{{ responsabile.responsabile_laboratorio }}" {% if responsabile.responsabile_laboratorio == search_responsabile %}SELECTED{% endif %}>{{ responsabile.responsabile_laboratorio }}</option>
                {% endfor %}
            </select>

            </div>
        </div>
</div>


<div class="field" id="altro_responsabile_field" style="display: none;">
    <label class="label">Nuova/o responsabile</label>
    <div class="control">
        <input class="input" type="text" id="nuovo_responsabile_input" name="nuovo_responsabile_laboratorio" placeholder="Inserisci 'COGNOME Nome' della nuova/del nuovo responsabile">
    </div>
</div>
</div>

</div><!--columns-->

            <div class="columns is-multiline">
                {% for field in [
                    'num_inventario', 'num_inventario_ateneo', 'data_carico',
                    'codice_sipi_torino', 'codice_sipi_grugliasco', 'destinazione',
                    "microscopia",
                    "catena_del_freddo",
                    "alta_specialistica",
                    "da_movimentare",
                    "trasporto_in_autonomia",
                    "da_disinventariare",
                    'rosso_fase_alimentazione_privilegiata',
                    'didattica',
                    'valore_convenzionale', 'esercizio_bene_migrato',
                    'denominazione_fornitore', 'anno_fabbricazione', 'numero_seriale',
                    'categoria_inventoriale', 'catalogazione_materiale_strumentazione', 'peso', 'dimensioni',
                    'ditta_costruttrice_fornitrice'
                ] %}
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label" style="white-space: nowrap;">{{ field.replace('_',' ').capitalize() }} {% if 'data' in field %}(DD/MM/AAAA){%endif%}

                            {% if field == 'peso' %} (in Kg senza unità per un elemento){% endif %}
                            {% if field == 'dimensioni' %} (in cm per un elemento<br>formato Lxlxh){% endif %}
                            


                        </label>
                        <div class="control">

                            {% if field in boolean_fields %}

<select class="input" name="{{ field }}">
{% if field == 'da_movimentare' %}
<option value="true">SI</option>
<option value="false">NO</option>
{% else %}
<option value="false">NO</option>
<option value="true">SI</option>
{% endif %}
</select>

                            {% else %}
                            
                            <input class="input" type="text" name="{{ field }}" placeholder="{{ field.replace('_',' ').capitalize() }}">
                            {% if field in ('codice_sipi_torino') %}
                            <a class="button is-link is-small" href="/togru/static/mappe_torino.html">Mappe con codici SIPI</a>
                            {% endif %}

                            {% if field in ('codice_sipi_grugliasco') %}
                            <a class="button is-link is-small" href="/togru/static/mappe_grugliasco.html">Mappe con codici SIPI</a>
                            {% endif %}


                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

    <div class="field">
        <label class="label">Note</label>
        <div class="control">
            <textarea class="textarea" name="note" placeholder="Note"></textarea>
        </div>
    </div>

    <div class="field">
        <label class="label">Carica fotografia</label>
        <div class="control">
            <input class="input" type="file" name="foto" accept="image/*">
        </div>
    </div>
    

    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Aggiungi</button>
        </div>
    </div>
</form>

</div>
</section>

<script>
function controllaSubmit() {
  

    const daMovimentare = document.querySelector('select[name="da_movimentare"]').value;
    const trasportoInAutonomia = document.querySelector('select[name="trasporto_in_autonomia"]').value;

    if (trasportoInAutonomia === 'true' && daMovimentare !== 'true') {
        alert('Se "Trasporto in autonomia" è impostato a SI, anche "Da movimentare" deve essere impostato a SI.');
        return false; // blocca la submit
    }

    const select = document.getElementById('responsabile_select');
    const nuovoResponsabile = document.getElementById('nuovo_responsabile_input').value.trim();

    // Se nessun responsabile selezionato
    if (select.value === '') {
      event.preventDefault();
      alert("Seleziona un responsabile laboratorio.");
      return false;
    }

    // Se selezionato 'altro' ma campo vuoto
    if (select.value === 'altro' && nuovoResponsabile === '') {
      event.preventDefault();
      alert("Inserisci il nome del nuovo responsabile.");
      return false;
    }

    return true; // permette la submit
}


function toggleAltro() {
      const select = document.getElementById('responsabile_select');
      const altroField = document.getElementById('altro_responsabile_field');
      altroField.style.display = (select.value === 'altro') ? 'block' : 'none';
    }

</script>


</body>
</html>