<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Bene</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>

<section class="section">
    <div class="container">

        <a class="button is-link" href="{{ url_for('index') }}">Home</a>

        <br><br>

        <h2 class="title is-4">Aggiungi Nuovo Bene</h2>

        <form action="{{ url_for('aggiungi') }}" method="POST">


<!-- Riga con Descrizione Bene e Responsabile Laboratorio -->
<div class="columns">
    <div class="column is-half">
        <div class="field">
            <label class="label">Descrizione bene</label>
            <div class="control">
                <input class="input" type="text" name="descrizione_bene" placeholder="Descrizione bene">
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="field">
            <label class="label">Responsabile laboratorio</label>
            <div class="control">
                <input class="input" type="text" name="responsabile_laboratorio" placeholder="Responsabile laboratorio">
            </div>
        </div>
    </div>
</div>

            <div class="columns is-multiline">
                {% for field in [
                    'num_inventario', 'num_inventario_ateneo', 'data_carico',
                    'codice_sipi_torino', 'codice_sipi_grugliasco', 'destinazione',
                    'rosso_fase_alimentazione_privilegiata', 'valore_convenzionale', 'esercizio_bene_migrato',
                     'denominazione_fornitore', 'anno_fabbricazione', 'numero_seriale',
                    'categoria_inventoriale', 'catalogazione_materiale_strumentazione', 'peso', 'dimensioni',
                    'ditta_costruttrice_fornitrice'
                ] %}
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label" style="white-space: nowrap;">{{ field.replace('_',' ').capitalize() }} {% if 'data' in field %}(DD/MM/AAAA){%endif%}</label>
                        <div class="control">
                            <input class="input" type="text" name="{{ field }}" placeholder="{{ field.replace('_',' ').capitalize() }}">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="field">
                <label class="label">Note</label>
                <div class="control">
                    <textarea class="textarea" name="note" placeholder="Note"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Aggiungi</button>
                </div>
            </div>
        </form>

    </div>
</section>

</body>
</html>