<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>Storico modifiche utente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <style>
        .removed { color: #b30000; }
        .added   { color: #007700; }
    </style>
</head>
<body>
<section class="section">

<a class="button is-link" href="{{ url_for('index') }}">Home</a>

<br><br>

<h1 class="title">Attività utente {{ email }}</u></h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="notification is-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<a href="{{ url_for('storico_utente', email=email) }}">Storico completo</a>
<br>
<br>

{% if attivita %}
<table class="table is-fullwidth is-striped is-hoverable">
<thead>
<tr>
<th>Bene</th>
<th>Tipo operazione</th>
<th>Record id</th>
<th>Data</th>
</tr>
</thead>
<tbody>
{% for record in attivita %}
<tr>
<td>{{ record.descrizione_bene }}</td>
<td>{{ record.operation_type }}</td>
<td><a href="{{ url_for('view', record_id=record.record_id) }}">{{ record.record_id }}</a></td>
<td>{{ record.executed_at }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endif %}

</section>
</body>
</html>
