<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>To-Gru</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">

            <h3 class="title is-3">TO-GRU</h3>





{% if session['email'] %}
<br>
<h4 class="subtitle is-4">Ciao {{ session['name'] }} <a class="button is-small is-link" href="{{ url_for('logout') }}">Logout</a></h4>

<a class="button is-link" href="{{ url_for('aggiungi') }}">Aggiungi record</a>

<a class="button is-link" href="{{ url_for('upload_excel') }}">Carica file Excel</a>

<a class="button is-link" href="{{ url_for('search') }}">Cerca</a>


<br><br>

<p class="subtitle is-5">Numero totale beni: <b>{{ records|length }}</b></p>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="notification is-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}


            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>ID</th>
                       
                        <th>Descrizione Bene</th>
                        <th>Responsabile laboratorio</th>
                        <th>Num Inventario</th>
                        <th>Data Carico</th>
                        <th>Note</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in records %}
                    <tr>
                        <td>{{ r.id }}</td>
                      
                        <td>{{ r.descrizione_bene }}</td>
                        <td>{{ r.responsabile_laboratorio }}</td>
                        <td>{{ r.num_inventario }}</td>
                        <td>{{ r.data_carico }}</td>
                        <td>{{ r.note }}</td>
                        <td>
                            <a class="button is-small is-responsive" href="{{ url_for('view', record_id=r.id) }}">dettagli</a>
                            <a class="button is-small is-responsive  is-warning" href="{{ url_for('modifica', record_id=r.id) }}">Modifica</a>
                            <a class="button is-small is-responsive" href="{{ url_for('etichetta', record_id=r.id) }}">Etichetta</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
<a class="button button is-link" href="{{ url_for('login') }}">Accedi con Google Unito</a>
        {% endif %}

        </div>
    </section>

</body>
</html>

