<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>Ricerca Inventario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />

</head>
<body>
<section class="section">
<div class="container">
  
<a class="button is-link" href="{{ url_for('index') }}">Home</a>

<br><br>

<h2 class="subtitle is-4">Via Accademia Albertina</h2>


<a href="/togru/static/accademia_p0.png"><img src="/togru/static/accademia_p0.png" width="120px" ></a>
<h2 class="subtitle is-5">Piano terra</h2>


<a href="/togru/static/accademia_p1.png"><img src="/togru/static/accademia_p1.png" width="120px" ></a>
<h2 class="subtitle is-5">Piano ammezzato</h2>


<a href="/togru/static/accademia_p2.png"><img src="/togru/static/accademia_p2.png" width="120px" ></a>
<h2 class="subtitle is-5">Primo piano</h2>

<a href="/togru/static/accademia_p3.png"><img src="/togru/static/accademia_p3.png" width="120px" ></a>
<h2 class="subtitle is-5">Terzo piano</h2>

<a href="/togru/static/accademia_p-1.png"><img src="/togru/static/accademia_p-1.png" width="120px" ></a>
<h2 class="subtitle is-5">S1</h2>



<h2 class="subtitle is-4">Ortobotanico</h2>


Lavoro in corso

<h2 class="subtitle is-4">Centro della innovazione (via Quarello)</h2>


Lavoro in corso

</div>
</section>
</body>
</html>
