<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>Ricerca Inventario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />

</head>
<body>
<section class="section">
<div class="container">
  
<a class="button is-link" href="{{ url_for('index') }}">Home</a>

<br><br>

<h2 class="subtitle is-4">Via Accademia Albertina (014_A)</h2>


<a href="/togru/static/accademia_p0.png"><img src="/togru/static/accademia_p0.png" width="120px" ></a>
<h2 class="subtitle is-5">Piano terra (014_A_P00_)</h2>


<a href="/togru/static/accademia_p1.png"><img src="/togru/static/accademia_p1.png" width="120px" ></a>
<h2 class="subtitle is-5">Piano ammezzato (014_A_P01_)</h2>


<a href="/togru/static/accademia_p2.png"><img src="/togru/static/accademia_p2.png" width="120px" ></a>
<h2 class="subtitle is-5">Primo piano (014_A_P02_)</h2>

<a href="/togru/static/accademia_p3.png"><img src="/togru/static/accademia_p3.png" width="120px" ></a>
<h2 class="subtitle is-5">Secondo piano (014_A_P03_)</h2>

<a href="/togru/static/accademia_p-1.png"><img src="/togru/static/accademia_p-1.png" width="120px" ></a>
<h2 class="subtitle is-5">S1 (014_A_S01_)</h2>



<h2 class="subtitle is-4">Ortobotanico (034_A)</h2>

<a href="/togru/static/ortobotanico_p0.png"><img src="/togru/static/ortobotanico_p0.png" width="120px" ></a>
<h2 class="subtitle is-5">Piano terra (034_A_P00_)</h2>


<a href="/togru/static/ortobotanico_p1.png"><img src="/togru/static/ortobotanico_p1.png" width="120px" ></a>
<h2 class="subtitle is-5">Primo piano (034_A_P01_)</h2>

<a href="/togru/static/ortobotanico_p2.png"><img src="/togru/static/ortobotanico_p2.png" width="120px" ></a>
<h2 class="subtitle is-5">Secondo piano (034_A_P02_)</h2>

<a href="/togru/static/ortobotanico_p-1.png"><img src="/togru/static/ortobotanico_p-1.png" width="120px" ></a>
<h2 class="subtitle is-5">S1 (034_A_S01_)</h2>

<a href="/togru/static/ortobotanico_p-2.png"><img src="/togru/static/ortobotanico_p-2.png" width="120px" ></a>
<h2 class="subtitle is-5">S2 (034_A_S02_)</h2>


<h2 class="subtitle is-4">Centro della innovazione (via Quarello - 050_A)</h2>


<a href="/togru/static/quarello_p0.png"><img src="/togru/static/quarello_p0.png" width="120px" ></a>
<h2 class="subtitle is-5">Piano terra (050_A_P00_)</h2>

<a href="/togru/static/quarello_p1.png"><img src="/togru/static/quarello_p1.png" width="120px" ></a>
<h2 class="subtitle is-5">Primo piano (050_A_P01_)</h2>


<a href="/togru/static/quarello_p-1.png"><img src="/togru/static/quarello_p-1.png" width="120px" ></a>
<h2 class="subtitle is-5">S1 (050_A_S01_)</h2>


<a href="/togru/static/quarello_p-2.png"><img src="/togru/static/quarello_p-2.png" width="120px" ></a>
<h2 class="subtitle is-5">S2 (050_A_S02_)</h2>

<h2 class="subtitle is-4">Grugliasco</h2>

<a href="/togru/static/grugliasco_p0.png"><img src="/togru/static/grugliasco_p0.png" width="120px" ></a>
<h2 class="subtitle is-5">Piano terra</h2>


<a href="/togru/static/grugliasco_p1.png"><img src="/togru/static/grugliasco_p1.png" width="120px" ></a>
<h2 class="subtitle is-5">Primo piano</h2>


<a href="/togru/static/grugliasco_p2.png"><img src="/togru/static/grugliasco_p2.png" width="120px" ></a>
<h2 class="subtitle is-5">Secondo piano</h2>


<a href="/togru/static/grugliasco_p-1.png"><img src="/togru/static/grugliasco_p-1.png" width="120px" ></a>
<h2 class="subtitle is-5">S1</h2>


</div>
</section>
</body>
</html>
