<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <title>Ricerca Inventario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />

</head>
<body>
<section class="section">
<div class="container">
  
<a class="button is-link" href="{{ url_for('index') }}">Home</a>

<br><br>

<h2 class="subtitle is-4">Via Accademia Albertina (014_A)</h2>


<table>
<tr>
<td><a href="/togru/static/accademia_p0.html"><img src="/togru/static/accademia_p0.png" width="120px" ></a><br>
Piano terra<br> (014_A_P00_)
</td><td>&nbsp;</td>
<td><a href="/togru/static/accademia_p1.html"><img src="/togru/static/accademia_p1.png" width="120px" ></a><br>
Piano ammezzato<br> (014_A_P01_)</td><td>&nbsp;</td>
<td><a href="/togru/static/accademia_p2.html"><img src="/togru/static/accademia_p2.png" width="120px" ></a><br>
Primo piano<br> (014_A_P02_)</td><td>&nbsp;</td>
<td><a href="/togru/static/accademia_p3.html"><img src="/togru/static/accademia_p3.png" width="120px" ></a><br>
Secondo piano<br> (014_A_P03_)
</td><td>&nbsp;</td>
<td><a href="/togru/static/accademia_p-1.html"><img src="/togru/static/accademia_p-1.png" width="120px" ></a><br>
S1<br> (014_A_S01_)</td>

</tr>

</table>


<br><br>

<h2 class="subtitle is-4">Ortobotanico (034_A)</h2>

<table>
<tr>
<td>
<a href="/togru/static/ortobotanico_p0.html"><img src="/togru/static/ortobotanico_p0.png" width="120px" ></a><br>
Piano terra<br> (034_A_P00_)
</td><td>&nbsp;</td>
<td>
<a href="/togru/static/ortobotanico_p1.html"><img src="/togru/static/ortobotanico_p1.png" width="120px" ></a><br>
Primo piano<br> (034_A_P01_)
</td><td>&nbsp;</td>

<td>
<a href="/togru/static/ortobotanico_p2.html"><img src="/togru/static/ortobotanico_p2.png" width="120px" ></a><br>
Secondo piano<br> (034_A_P02_)
</td><td>&nbsp;</td>

<td>
<a href="/togru/static/ortobotanico_p-1.html"><img src="/togru/static/ortobotanico_p-1.png" width="120px" ></a><br>
<h2 class="subtitle is-5">S1<br> (034_A_S01_)
</td><td>&nbsp;</td>

<td>
<a href="/togru/static/ortobotanico_p-2.html"><img src="/togru/static/ortobotanico_p-2.png" width="120px" ></a><br>
S2<br> (034_A_S02_)
</td><td>&nbsp;</td>

</tr>
</table>

<br><br>
<h2 class="subtitle is-4">Centro della innovazione (via Quarello - 050_A)</h2>

<table>
<tr>
   <td> 
<a href="/togru/static/quarello_p0.html"><img src="/togru/static/quarello_p0.png" width="120px" ></a><br>
Piano terra<br> (050_A_P00_)
</td><td>&nbsp;</td>
<td>
<a href="/togru/static/quarello_p1.html"><img src="/togru/static/quarello_p1.png" width="120px" ></a><br>
Primo piano<br> (050_A_P01_)
</td><td>&nbsp;</td>
<td>
<a href="/togru/static/quarello_p-1.html"><img src="/togru/static/quarello_p-1.png" width="120px" ></a><br>
S1<br> (050_A_S01_)
</td><td>&nbsp;</td>
<td>
<a href="/togru/static/quarello_p-2.html"><img src="/togru/static/quarello_p-2.png" width="120px" ></a><br>
S2<br> (050_A_S02_)
</td><td>&nbsp;</td>
</tr>
</table>

<br><br>

<h2 class="subtitle is-4">Palazzo Campana (via Carlo Alberto - 009_A_)</h2>

<table>
<tr>
   <td> 
<a href="/togru/static/palazzo_campana_p2.html"><img src="/togru/static/palazzo_campana_p2.png" width="120px" ></a><br>
Secondo piano<br> (009_A_P02_)
</td><td>&nbsp;</td>
</tr>
</table></table>


<br><br>
<h2 class="subtitle is-4">Grugliasco</h2>

<table>
<tr>
<td>
<a href="/togru/static/grugliasco_p0.html"><img src="/togru/static/grugliasco_p0.png" width="120px" ></a><br>
Piano terra
</td>
<td>&nbsp;</td>
<td>
<a href="/togru/static/grugliasco_p1.html"><img src="/togru/static/grugliasco_p1.png" width="120px" ></a><br>
Primo piano
</td>
<td>&nbsp;</td>
<td>
<a href="/togru/static/grugliasco_p2.html"><img src="/togru/static/grugliasco_p2.png" width="120px" ></a><br>
Secondo piano
</td>
<td>&nbsp;</td>
<td>
<a href="/togru/static/grugliasco_p-1.html"><img src="/togru/static/grugliasco_p-1.png" width="120px" ></a><br>
S1
</td>
</tr>
</table>

</div>
</section>
</body>
</html>
