<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica Bene (ID: {{ record.id }})</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">

<a class="button is-link" href="{{ url_for('index') }}">Home</a>

<form method="post" action="{{ url_for('delete_record', record_id=record.id, query_string='view') }}" style="display:inline;" onsubmit="return confirm('Sei sicuro di voler eliminare questo record?');">
<button class="button is-danger" type="submit">Elimina</button>
</form>
    

{% if query_string %}
<a class="button is-link" href="/togru/search?{{ query_string }}">Torna alla ricerca</a>
{%endif%}

<br><br>

<h1 class="title is-4">Modifica Bene (ID: {{ record.id }})</h1>


<form action="{{ url_for('salva_modifiche', record_id=record.id) }}" method="POST">

<input type="hidden" name="query_string" value="{{ query_string }}">



<div class="columns is-multiline is-mobile">
                {% for field in [
                    'descrizione_bene','responsabile_laboratorio','num_inventario', 'num_inventario_ateneo', 
                    'codice_sipi_torino', 'codice_sipi_grugliasco', 'destinazione', 'peso', 'dimensioni',
                    'microscopia', 'catena_del_freddo','alta_specialistica','da_movimentare','trasporto_in_autonomia','da_disinventariare',
                    'rosso_fase_alimentazione_privilegiata', 

                    'data_carico', 'valore_convenzionale', 
                    'denominazione_fornitore', 'anno_fabbricazione', 'numero_seriale',
                    'categoria_inventoriale', 'catalogazione_materiale_strumentazione', 
                    'ditta_costruttrice_fornitrice'
                ] %}
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label" style="white-space: nowrap;">{{ field.replace('_',' ').capitalize() }}</label>
                        <div class="control">
                            {% if field in boolean_fields %}

<select class="input" name="{{ field }}">
    <option value="true" {% if record[field] == 'SI' %}selected{% endif %}>SI</option>
    <option value="false" {% if record[field] == 'NO' %}selected{% endif %}>NO</option>
</select>

                            {% else %}
                            <input class="input" type="text" name="{{ field }}" value="{{ record[field] }}">
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="field">
                <label class="label">Note</label>
                <div class="control">
                    <textarea class="textarea" name="note">{{ record.note }}</textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Salva modifiche</button>
                </div>
            </div>
        </form>

    </div>
</section>
</body>
</html>
