<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica Bene (ID: {{ record.id }})</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<section class="section">
{% include "menu.html" %}
<div class="container">

<br><br>

<form method="post" action="{{ url_for('delete_record', record_id=record.id, query_string='view') }}" style="display:inline;" onsubmit="return confirm('Sei sicuro di voler eliminare questo record?');">
<button class="button is-danger" type="submit">Elimina</button>
</form>


{% if query_string %}
<a class="button is-link" href="/togru/search?{{ query_string }}">Torna alla ricerca</a>
{%endif%}

<br><br>

<h1 class="title is-4">Modifica Bene (ID: {{ record.id }})</h1>

{% if record.peso_non_conforme or record.dimensioni_non_conforme %}
<div class="notification is-warning">
    ⚠️ peso e/o dimensioni non conforme
</div>
{%endif%}


<form action="{{ url_for('salva_modifiche', record_id=record.id) }}" method="POST"  enctype="multipart/form-data" onsubmit="return controllaSubmit();">

<input type="hidden" name="query_string" value="{{ query_string }}">

<div class="columns">

    <div class="column is-one-quarter">
        <div class="field">
            <label class="label">Quantità</label>
            <div class="control">
                <input class="input" type="number" name="quantita" value="{{ record['quantita'] }}" required>
            </div>
        </div>
    </div>


<div class="column is-half">
    <div class="field">
        <label class="label">Descrizione bene</label>
        <div class="control">
            <input class="input" type="text" name="descrizione_bene" placeholder="Descrizione bene" value="{{ record['descrizione_bene'] }}" required>
        </div>
    </div>
</div>

<div class="column is-half">
    <div class="field">
            <label class="label">Responsabile laboratorio</label>
            <div class="control">
                <div class="select">
                <select id="responsabile_select" name="responsabile_laboratorio" onchange="toggleAltro()">
                    <option value="">Seleziona un responsabile</option>
                    {% for responsabile in responsabili %}
                    <option value="{{ responsabile.responsabile_laboratorio }}" {% if responsabile.responsabile_laboratorio == record['responsabile_laboratorio'] %}SELECTED{% endif %}>{{ responsabile.responsabile_laboratorio }}</option>
                    {% endfor %}
                    <option value="altro">Altro...</option>
                </select>

                </div>
            </div>
    </div>

    <div class="field" id="altro_responsabile_field" style="display: none;">
        <label class="label">Nuovo responsabile</label>
        <div class="control">
            <input class="input" type="text" id="nuovo_responsabile_input" name="nuovo_responsabile_laboratorio" placeholder="Inserisci nome responsabile">
        </div>
    </div>

</div>


</div>

<div class="columns is-multiline is-mobile">
                {% for field in [
                    'num_inventario', 'num_inventario_ateneo',
                    'codice_sipi_torino', 'codice_sipi_grugliasco', 'destinazione', 'peso', 'dimensioni',
                    'microscopia', 'catena_del_freddo', 'alta_specialistica', 'da_movimentare', 'trasporto_in_autonomia', 'da_disinventariare',
                    'rosso_fase_alimentazione_privilegiata',
                    'didattica',
                    'data_carico', 'valore_convenzionale',
                    'denominazione_fornitore', 'anno_fabbricazione', 'numero_seriale',
                    'categoria_inventoriale', 'catalogazione_materiale_strumentazione',
                    'ditta_costruttrice_fornitrice'
                ] %}
                <div class="column is-one-quarter">
                    <div class="field">
                        <label class="label" style="white-space: nowrap;">{{ field.replace('_',' ').capitalize() }}
{% if field == 'peso' %} <small>(in Kg senza unità per un elemento)</small>{% endif %}
{% if field == 'dimensioni' %} <small>(in cm arrotondati<br>per un elemento formato Lxlxh)</small>{% endif %}

                        </label>
                        <div class="control">

                            {% if field in boolean_fields %}

<select class="input" name="{{ field }}">
    <option value="true" {% if record[field] == 'SI' %}selected{% endif %}>SI</option>
    <option value="false" {% if record[field] == 'NO' %}selected{% endif %}>NO</option>
</select>

                            {% else %}
                            <input class="input" type="text" name="{{ field }}" value="{{ record[field] }}">

 {% if field in ('codice_sipi_torino') %}
                            <a class="button is-link is-small" href="/togru/static/mappe_torino.html">Mappe con codici SIPI</a>
                            {% endif %}

                            {% if field in ('codice_sipi_grugliasco') %}
                            <a class="button is-link is-small" href="/togru/static/mappe_grugliasco.html">Mappe con codici SIPI</a>
                            {% endif %}



                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="field">
                <label class="label">Note</label>
                <div class="control">
                    <textarea class="textarea" name="note">{{ record.note }}</textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Carica fotografia</label>
                <div class="control">
                    <input class="input" type="file" name="foto" accept="image/*">
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Salva modifiche</button>
                </div>
            </div>



        </form>

{% if img_list %}
<br><br>
<h1 class="title is-5">Documentazione fotografica</h1>

{% for img in img_list %}

<a href="/togru/static/images/{{ img }}"><img src="/togru/static/images/{{ img }}" width="200px"></a>
<a href="{{ url_for('delete_foto', img_id=img)}}" onclick="return confirm('Sei sicuro di voler cancellare questa foto?')"> ❌</a>
<br><br>

{% endfor %}

{% endif %}



</div>
</section>

<script>
function controllaSubmit() {
    const daMovimentare = document.querySelector('select[name="da_movimentare"]').value;
    const trasportoInAutonomia = document.querySelector('select[name="trasporto_in_autonomia"]').value;

    if (trasportoInAutonomia === 'true' && daMovimentare !== 'true') {
        alert('Se "Trasporto in autonomia" è impostato a SI, anche "Da movimentare" deve essere impostato a SI.');
        return false; // blocca la submit
    }

    const select = document.getElementById('responsabile_select');
    const nuovoResponsabile = document.getElementById('nuovo_responsabile_input').value.trim();

    // Se nessun responsabile selezionato
    /*
    if (select.value === '') {
      event.preventDefault();
      alert("Seleziona un responsabile laboratorio.");
      return false;
    }
      */

    // Se selezionato 'altro' ma campo vuoto
    if (select.value === 'altro' && nuovoResponsabile === '') {
      event.preventDefault();
      alert("Inserisci il nome del nuovo responsabile.");
      return false;
    }

    return true; // permette la submit
}


function toggleAltro() {
      const select = document.getElementById('responsabile_select');
      const altroField = document.getElementById('altro_responsabile_field');
      altroField.style.display = (select.value === 'altro') ? 'block' : 'none';
    }

</script>


</body>
</html>
