<style>
.table-container {
  max-height: 80vh; /* oppure 100vh meno eventuali header/footer */
  overflow-y: auto;
}

.table thead th {
  position: sticky;
  top: 0;
  color: #ffffff;
  background: #111111;
  z-index: 2;
}

/* opzionale: bordi sopra/sotto header */
.table thead {
  border-bottom: 2px solid #ddd;
}
.emoji {
      cursor: pointer;
    }

.foto-btn {
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
}

.modal-content img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
</style>



<div class="table-container">
<table class="table is-striped is-fullwidth">
<thead>
<tr>
<th><input type="checkbox" id="select_all" /></th>
{% for field in columns %}
{% if field not in ['da_movimentare', 'catena_del_freddo', 'trasporto_in_autonomia', 'microscopia', 'alta_specialistica', 'peso_non_conforme', 'dimensioni_non_conforme', 'collezione'] %}
<th>{{ field.replace('_', ' ') }}</th>
{% if field in ['Responsabile Laboratorio / Ufficio', 'ID'] %}<th></th>{%endif%}
{% endif %}
{% endfor %}
<th>Azioni</th>
</tr>
</thead>
<tbody>
{% for r in records %}
<tr>
<td><input type="checkbox" name="record_ids" value="{{ r['ID'] }}" form="form_modifica_multipla"></td>
<td> {{ r['ID'] }}</td>
<td>{% if r.peso_non_conforme or r.dimensioni_non_conforme %}

{% if r.peso_non_conforme and not r.dimensioni_non_conforme %}
<span class="emoji" title="Verificare il peso (deve essere espresso in Kg senza unità e avere il punto come separatore decimale)">⚠️</span>
{% elif r.dimensioni_non_conforme and not r.peso_non_conforme %}
<span class="emoji" title="Verificare le dimensioni (LxlxH in centimetri arrotondati)">⚠️</span>
{%else%}
<span class="emoji" title="Verificare il peso e le dimensioni">⚠️</span>
{%endif%}

  {%endif%}</td>
<td>{{ r['Quantità'] }}</td>
<td>{{ r['Descrizione bene'] }}</td>
<td>{{ r['Responsabile Laboratorio / Ufficio'] }}</td>
<td>{% if r.da_movimentare is true %}
<span class="emoji" title="Da movimentare">🟩</span>
{% elif r.da_movimentare is false %}
<span class="emoji" title="Strumento/bene da non movimentare/dismettere">🟥</span>
{% endif %}
{% if r.catena_del_freddo is true %}<span class="emoji" title="Rispettare la catena del freddo">❄️</span>{% endif %}
{% if r.trasporto_in_autonomia is true %}<span class="emoji" title="Trasporto in autonomia">🚗</span>{% endif %}
{% if r.microscopia is true %}<span class="emoji" title="Microscopia">🔬</span>{% endif %}
{% if r.alta_specialistica is true %}<span class="emoji" title="Alta specialistica">⚙️</span>{% endif %}
{% if r.collezione is true %}<span class="emoji" title="Collezione">📦</span>{% endif %}
{% if r.ID in doc_photo %}<button class="foto-btn" title="Vedi foto" onclick="apriImmagine('{{ url_for('static', filename='images/' +  doc_photo[r.ID] ) }}')"><big>🖼</big></button>

{% endif %}


</td>
</td>
<td>{{ r['Codice SIPI Torino'] }}</td>
<td>{{ r['Codice SIPI Grugliasco'] }}</td>
<td>{{ r.Destinazione }}</td>
{# <td>{{ r['Note'] }}</td> #}
<td>{{ r['Note'].replace('\r', '<br>') | safe }}</td>
<td>
<a class="button is-small is-info" href="{{ url_for('view', record_id=r['ID'], query_string=query_string) }}">dettagli</a>
<a class="button is-small is-warning" href="{{ url_for('modifica', record_id=r['ID'], query_string=query_string) }}">Modifica</a>
<a class="button is-small is-warning" href="{{ url_for('duplica', record_id=r['ID'], query_string=query_string) }}">Duplica</a>
<form method="post" action="{{ url_for('delete_record', record_id=r['ID'], query_string=query_string) }}" style="display:inline;" onsubmit="return confirm('Sei sicuro di voler eliminare questo record?');">
<button class="button is-small is-danger" type="submit">Elimina</button>
</form>

<a class="button is-small" href="{{ url_for('etichetta', record_id=r['ID']) }}">Etichetta</a>

</td>
</tr>
{% endfor %}
</tbody>
</table>


<div id="modalImg" class="modal" onclick="chiudiImmagine()">
    <div class="modal-content" onclick="event.stopPropagation()">
      <span class="close" onclick="chiudiImmagine()">&times;</span>
      <img id="imgPreview" src="" alt="Immagine bene">
    </div>
  </div>

  <script>
    function apriImmagine(src) {
      document.getElementById('imgPreview').src = src;
      document.getElementById('modalImg').style.display = 'flex';
    }

    function chiudiImmagine() {
      document.getElementById('modalImg').style.display = 'none';
      document.getElementById('imgPreview').src = '';
    }
  </script>

</div>{# table-container #}
