<table class="table is-striped is-fullwidth">
<thead>
<tr>
<th><input type="checkbox" id="select_all" /></th>
<th>ID</th>
{% for field in [ 'descrizione_bene', 'responsabile_laboratorio', 'num_inventario', 'codice_sipi_torino', 'destinazione', 'note'] %}
<th>{{ field.replace('_', ' ').capitalize() }}</th>
{% endfor %}
<th>Azioni</th>
</tr>
</thead>
<tbody>
{% for r in records %}
<tr>
<td><input type="checkbox" name="record_ids" value="{{ r.id }}" form="form_modifica_multipla"></td>
<td>{{ r.id }}</td>
<td>{{ r.descrizione_bene }}</td>
<td>{{ r.responsabile_laboratorio }}</td>
<td>{{ r.num_inventario }}</td>
<td>{{ r.codice_sipi_torino }}</td>
<td>{{ r.destinazione }}</td>
<td>{{ r.note }}</td>
<td>
<a class="button is-small is-responsive" href="{{ url_for('view', record_id=r.id, query_string=query_string) }}">dettagli</a>
<a class="button is-small is-info" href="{{ url_for('modifica', record_id=r.id, query_string=query_string) }}">Modifica</a>

<form method="post" action="{{ url_for('delete_record', record_id=r.id, query_string=query_string) }}" style="display:inline;" onsubmit="return confirm('Sei sicuro di voler eliminare questo record?');">
<button class="button is-small is-danger" type="submit">Elimina</button>
</form>

</td>
</tr>
{% endfor %}
</tbody>
</table>
