<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<title>To-Gru</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
<section class="section">

<h3 class="title is-3">TO-GRU</h3>

<a class="button is-link" href="{{ url_for('index') }}">Home</a>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="notification is-{{ category }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<p class="subtitle is-5 mt-5">Numero totale beni: <b>{{ records|length }}</b></p>

<style>
.table-container {
  max-height: 80vh; /* oppure 100vh meno eventuali header/footer */
  overflow-y: auto;
}

.table thead th {
  position: sticky;
  top: 0;
  color: #ffffff;
  background: #111111;
  z-index: 2;
}

/* opzionale: bordi sopra/sotto header */
.table thead {
  border-bottom: 2px solid #ddd;
}
.emoji {
      cursor: pointer;
    }
</style>

<div class="table-container">
<table class="table is-striped is-fullwidth is-hoverable">
<thead>
<tr>
    <th>ID</th>
    {% for field in [ 'descrizione_bene', 'responsabile_laboratorio',  '', 'codice_sipi_torino', 'codice_sipi_grugliasco','destinazione', 'note'] %}
    <th>{{ field.replace('_', ' ').capitalize() }}</th>
    {% endfor %}
    <th>Azioni</th>
</tr>
</thead>
<tbody>
{% for r in records %}
<tr>
<td>{{ r.id }}</td>
<td>{{ r.descrizione_bene }}</td>
<td>{{ r.responsabile_laboratorio }}</td>

<td>{% if r.da_movimentare is true %}
<span class="emoji" title="Da movimentare">🟩</span>
{% elif r.da_movimentare is false %}
<span class="emoji" title="Strumento/bene da non movimentare/dismettere">🟥</span>
{% endif %}
{% if r.catena_del_freddo is true %}<span class="emoji" title="Rispettare la catena del freddo">❄️</span>{% endif %}
{% if r.trasporto_in_autonomia is true %}<span class="emoji" title="Trasporto in autonomia">🚗</span>{% endif %}
{% if r.microscopia is true %}<span class="emoji" title="Microscopia">🔬</span>{% endif %}
{% if r.alta_specialistica is true %}<span class="emoji" title="Alta specialistica">⚙️</span>{% endif %}
</td>  
<td>{{ r.codice_sipi_torino }}</td>
<td>{{ r.codice_sipi_grugliasco }}</td>
<td>{{ r.destinazione }}</td>
<td>{{ r.note }}</td>
<td>
<a class="button is-small is-info" href="{{ url_for('view', record_id=r.id, query_string=query_string) }}">dettagli</a>
<a class="button is-small is-warning" href="{{ url_for('modifica', record_id=r.id, query_string=query_string) }}">Modifica</a>


<form method="post" action="{{ url_for('delete_record', record_id=r.id, query_string='view') }}" style="display:inline;" onsubmit="return confirm('Sei sicuro di voler eliminare questo record?');">
<button class="button is-small is-danger" type="submit">Elimina</button>
</form>

<a class="button is-small" href="{{ url_for('etichetta', record_id=r.id) }}">Etichetta</a>

</td>
</tr>
{% endfor %}
</tbody>
</table>
</div><!-- table-container -->

</section>

</body>
</html>

